HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Database & Environment ###
# .env
# **/src/main/resources/application.properties

# Ignore Repomix output
repomix-output.txt
repomix-output.xml

# Bỏ qua các file log
*.log
server.log
*.lck
*.log.*
server.log.1
server.log.2
server.log.3
server.log.4
server.log.5