.main-card {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 20, 0, 0, 10);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.main-card:hover {
    /* Màu đen mờ (opacity 0.2), độ nhòe 15, không lan quá rộng */
    -fx-effect: dropshadow(three-pass-box, rgba(232, 67, 88, 0.4), 10, 0, 0, 4);
    -fx-cursor: hand;
    /* Thêm một chút hiệu ứng phóng to nhẹ cho nó xịn */
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}
.main-card:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5); 
}

.auction-image {
    -fx-fit-width: 200px;
    -fx-fit-height: 150px;
}

.auction-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-padding: 10px 15px 5px 15px;
}

.auction-description {
    -fx-font-size: 18px;
    -fx-text-fill: #666666;
    -fx-padding: 5px 15px 10px 15px;
}